.custom_layout_slider {
  .ant-menu {
    .ant-menu-submenu-selected {
      .ant-menu-submenu-title {
        color: #5c5cf0f2
      }
    }

    .ant-menu-item {
      padding: 0 16px;
      border-radius: 1px;

      &.ant-menu-item-selected {
        background-color: #5c5cf0f2;
        color: #ffffff;

      }
    }

    border-inline-end: none !important;
  }
}