
.custom_layout_slider {
  .ant-menu {
    .ant-menu-submenu-selected {
      .ant-menu-submenu-title {
        &:hover{
          color: theme('colors.primary');
        }
        color: theme('colors.primary');
      }
    }
    .ant-menu-item {
      border-radius: 1px;
        &.ant-menu-item-selected {
          background-color: transparent;
          color: theme('colors.primary');
        }
    }
    border-inline-end: none !important;
  }
}